<h2>Create a dvd</h2>

<form class="form-horizontal">
  <div class="control-group">
    <label>Name</label>
    <input type="text" name="name" ng-model="form.name">
  </div>

  <div class="control-group">
    <label>Director</label>
    <input type="text" name="site" ng-model="form.director" required>
  </div>

  <div class="control-group">
    <label>Year</label>
    <input type="text" name="site" ng-model="form.year" required>
  </div>
  <br>

  <a href="#/" class="btn">Cancel</a>
  <button ng-click="addDvd()" class="btn btn-primary">Save</button>
</form>
